* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #dadada;
  display: flex;
}

#left {
  width: 50%;
  height: 100%;
  background-color: blue;
  background-image: url(./assets/football-players-img.avif);
  background-size: cover;
  background-position: right;
  position: relative;
  animation-name: leftImgAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

#nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

#right {
  width: 50%;
  height: 100%;
  background-color: #f7f5ed;
  position: relative;
}

#upper-img {
  height: 150px;
  width: 150px;
  background-image: url(./assets/right-img1.avif);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  animation: float 1s ease-in 2s 4 ease-in;
}

#center-img {
  height: 250px;
  width: 200px;
  background-image: url(./assets/right-img-2.avif);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
}

#bottom-img {
  height: 150px;
  width: 150px;
  background-image: url(./assets/right-img-3.avif);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 20%;
}

#button h5 {
  font-weight: 200;
  font-size: 10px;
}

#button {
  border: 1px solid #000;
  padding: 40px 25px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  right: 30%;
}

#text {
  position: absolute;
  top: 30%;
  right: -8%;
  transform: rotate(-90deg);
}

#text h1 {
  font-size: 50px;
  font-weight: 500;
}

#left-text h1 {
  font-size: 90px;
  font-weight: 800;
  /* position: absolute;
  right: 0;
  bottom: 5%; */
  text-align: end;
  color: #fff;
}

#left-text {
  position: absolute;
  bottom: 2%;
  right: 3%;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  /* transform: translate(-50%, 0); */
  background-color: #df5544;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    right: -5%;
  }

  50% {
    right: 50%;
  }

  to {
    right: 100%;
  }
}

@keyframes leftImgAnimation {
  0% {
    right: -5%;
  }

  50% {
    right: 25%;
  }

  100% {
    right: 50%;
  }
}
