* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #dadada;
  display: flex;
}

#left {
  width: 50%;
  height: 100%;
  background-color: blue;
  background-image: url(./assets/football-players-img.avif);
  background-size: cover;
  background-position: right;
  position: relative;
  /* animation-name: leftImgAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-delay: 4s;
  animation-fill-mode: forwards; */
}

#nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

#right {
  width: 50%;
  height: 100%;
  background-color: #f7f5ed;
  position: relative;
}

#upper-img {
  height: 160px;
  width: 150px;
  background-image: url(./assets/right-img1.avif);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 15%;
  transform: translate(-50%, 0);
  animation: topImgAnimation 2s cubic-bezier(0.19, 1, 0.22, 1) 1s 4 forwards;
  animation-direction: 1s;
}

#center-img {
  height: 250px;
  width: 200px;
  background-image: url(./assets/right-img-2.avif);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
  animation: centerImgAnimation 2.5s cubic-bezier(0.19, 1, 0.22, 1) 1s 4
    forwards;
  animation-direction: 1s;
}

#bottom-img {
  height: 150px;
  width: 150px;
  background-image: url(./assets/right-img-3.avif);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 20%;
  animation: bottomImgAnimation 3s cubic-bezier(0.19, 1, 0.22, 1) 1s 4 forwards;
  animation-direction: 0.5s;
}

#button h5 {
  font-weight: 200;
  font-size: 10px;
  opacity: 1;
  animation: buttonTextAnimation 2 ease-in-out 2s infinite forwards;
  animation-direction: 1s;
}

#button {
  padding: 40px 25px;
  display: inline-block;
  position: absolute;
  top: 200px;
  right: 30%;
  animation: buttonAnimation 2s ease-in-out 1s infinite forwards;
}

#text {
  position: absolute;
  top: 30%;
  right: -8%;
  transform: rotate(-90deg);
  animation: rightTextAnimation 2s cubic-bezier(0.19, 1, 0.22, 1) 1s 4 forwards;
  animation-direction: 1s;
}

#text h1 {
  font-size: 50px;
  font-weight: 500;
}

#left-text h1 {
  font-size: 95px;
  font-weight: 800;
  /* position: absolute;
  right: 3%;
  bottom: 5%; */
  text-align: end;
  color: #fff;
  /* animation-name: slide; */
}

#left-text {
  position: absolute;
  bottom: 2%;
  right: 3%;
  animation: slide 2s ease-in 1s 2 forwards;
  animation-direction: 1s;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  /* transform: translate(-50%, 0); */
  /* background-color: #df5544;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-delay: 2s;
  animation-fill-mode: forwards; */
}

@keyframes slide {
  0% {
    right: -50%;
    opacity: 0;
  }

  100% {
    right: 10%;
    opacity: 1;
  }
}

@keyframes topImgAnimation {
  0% {
    right: -10%;
    opacity: 0;
  }

  100% {
    right: 15%;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes centerImgAnimation {
  0% {
    right: -40%;
    opacity: 0;
  }

  100% {
    right: 80%;
    /* transform: translate(-50%, 0); */
    opacity: 1;
  }
}

@keyframes bottomImgAnimation {
  0% {
    right: -10%;
    opacity: 0;
  }

  100% {
    right: 20%;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes rightTextAnimation {
  0% {
    right: -50%;
    opacity: 0;
  }

  100% {
    right: -10%;
    opacity: 1;
  }
}
@keyframes buttonAnimation {
  0% {
    opacity: 0;
  }

  100% {
    border: 1px solid #000;
    border-radius: 50%;
  }
}

/* @keyframes buttonTextAnimation {
  0% {
    opacity: 0;
    position: absolute;
    bottom: -50%;
  }

  100% {
    opacity: 1;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */
